.fullSize{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.md-button {
    vertical-align: super;
}

color-block div{
    height: 100%;
    width: 100%;
}

.myButton {
    text-transform: none;
    vertical-align: middle;
}

welcome md-card{
    width: 70%;
}